---
name: pre-commit

on:
  pull_request:
  push:
    branches: [main, enhance-align]
  schedule:
    - cron: "0 0 * * *"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13.0"
          cache: pip
          cache-dependency-path: requirements*.txt

      - name: Cache pre-commit environments
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ runner.os }}-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-${{ runner.os }}-

      - name: Install requirements
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pre-commit mypy
          python3 -m pip install -r requirements_test.txt

      - name: Run pre-commit
        run: pre-commit run --all-files
